<ion-content>
  <div class="back-logo">
     <img src="../../assets/logo.png" alt="logo" class="center">
      </div>  
      
         <b><p class="signin-text" style="font-size: x-large;font-weight: bolder;">Let's Sign You In</p></b>
         <p class="signin-text">Welcome back ! You've been missed.</p>
   <div class="content">  
  
       
 
     <div class="ion-padding">
       <p class="font-input">Username or E-mail</p>
       <ion-input placeholder="Email" style="padding-left:12px !important; font-family:'Nunito', san-serif;">
         <ion-icon name="mail" style="width: 20px; height: 20px;" type="password"></ion-icon></ion-input> <br>
       <p class="font-input" style="margin-top:5px;" minlength="8" required>Password</p>
       <ion-input placeholder="Password" type="password" style="padding-left:12px !important; font-family:'Nunito', san-serif;">
         <ion-icon name="key" style="width: 20px; height: 20px;"></ion-icon></ion-input> <br>
     </div>
     <ion-button class="actionbutton" expand="full" fill="clear" style="text-transform:none; ">Sign In</ion-button>
     <ion-grid>
         <ion-row>
           <ion-col size="1"> 
               <ion-button  fill="clear" style="font-size:medium; color:#E04428; text-transform:none; font-family:'Nunito, san-serif';margin-left:-10px"><p style="font-size:medium;"></p>Forgot password ?</ion-button>
           </ion-col>
       </ion-row>
       <ion-row>
         
      <!--  <ion-col class="line" size="5" style="margin-left:25px;">
         </ion-col>
       
         <ion-col class="line" size="5">
         </ion-col>-->
       </ion-row>
       <ion-row>
       <p style="padding-left: 12px;font-family:'Nunito, san-serif';font-size: 18px;">Don't have an account ?</p>
       <ion-button fill="clear" size="large" routerLink="/sign-up" routerDirection="root">
         <b><p class="signup-text">Sign Up</p></b>
       </ion-button>
     </ion-row>
      <!-- 
     
     <ion-row>
     <ion-col size="6"style="  position: absolute;
      margin: 0 0 -25px;left: 30%;">
     
 
     <ion-button class="fbbutton" fill="clear"><b>Facebook</b></ion-button>
 
   <ion-button class="googlebutton" fill="clear"><b>Google</b></ion-button>
   </ion-col> 
 </ion-row>-->
 </ion-grid>
 </div>
   </ion-content>