/*ion-content{
    //--ion-background-color:#E04428;
  
  }

  */
  
.font-style{
    background-color: #E04428;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    margin-top:-6%;
}

.center{
    display: block;
    padding: 10% 10% 10% 10% !important;
}

.back-logo{
    background-color: #FDDCD7;
    margin-left:35%;
    margin-right: 35%;
    border-radius: 50%;
    width:30%;
    margin-top: -20%;
}

.font-input{
    padding-left:10px !important; 
    font-family:'Nunito', san-serif;
    font-weight: 500;
    color:#707070;
    font-size: 16px;
    margin-top: 0%;
}
.content{
margin-bottom: -8%;
padding-top: 0%;
background-color: white;
margin-left: 5%;
margin-right: 5%;
height:20%;


}
.icon{
    width: 20px; 
    height: 20px;
    margin-right:3%;
}
.buttons-action{
    margin-left: 5px;
}

.signup-text{
    font-size: large;
    color: #E04428;
    margin-top:20%;
    margin-left: -5%;
    text-transform: none;
    
}

.signin-text{
    color: white;
    text-transform: none;
    text-align: center; 
}

ion-input{
    background-color: #ededed;
    border-radius: 25px;
    font-size:14px;
    height:45px;
    padding-left:12px !important; 
    font-family:'Nunito', san-serif;

}
.actionbutton{
    background-color: #FFCCC3;
    color: #E04428;
    height:50px;
    border-radius :25px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: 18px;
    font-family: 'Nunito', san-serif;
}

.line{
    border-bottom: 1px solid #E04428;
    margin-bottom: 16px;

}

.fbbutton{
    background-color: #3b5998;
    border-radius: 6px;
    color:cornsilk;
    margin-bottom: 12px;
    font-family: 'Nunito', san-serif;
    text-transform: none;
}

.googlebutton{
    background-color: #ea4335;
    border-radius: 6px;
    color:cornsilk;
    margin-bottom: 12px;
    font-family: 'Nunito', san-serif;
    text-transform: none; 
}
.ion-padding{
    padding-top: 5px !important;
}