<ion-content>
  <div class="font-style">
    <b><p class="signin-text" style="padding-top:9%;font-size: x-large;font-weight: bolder;">Getting Started</p></b>
       <p class="signin-text"style="padding-bottom:22%">Create an account to continue</p>  
  </div>

  <div class="back-logo">
    <img src="../../assets/logo.png" alt="logo" class="center">
  </div>     
    
  <div class="content">  
    <div class="ion-padding">
        <p class="font-input">Your name</p>
        <ion-input placeholder="Name">
        <ion-icon name="person" class="icon"></ion-icon></ion-input> <br>
        
        <p class="font-input">Phone Number</p>
        <ion-input placeholder="Phone number">
        <ion-icon name="phone-portrait-outline" class="icon"></ion-icon></ion-input><br>
        
        <p class="font-input">E-Mail</p>
        <ion-input placeholder="Phone number">
        <ion-icon name="mail-outline" class="icon"></ion-icon></ion-input><br>

        <p class="font-input" style="margin-top:5px;" minlength="8" required>Password</p>
        <ion-input placeholder="Password" type="password">
        <ion-icon name="key" class="icon"></ion-icon></ion-input> <br>
    </div>

    <ion-button class="actionbutton" expand="full" fill="clear" style="text-transform:none; ">Sign Up</ion-button>

    <ion-grid>
        <ion-row>
        <p style="padding-left: 12px;font-family:'Nunito, san-serif';font-size: 18px;">Already have an account ?</p>
        <ion-button fill="clear" size="large"routerLink="/sign-in" routerDirection="root">
          <b><p class="signup-text">Sign In</p></b>
        </ion-button>
        </ion-row>
    </ion-grid>

 </div>
</ion-content>