<ion-content class="background" style="background-color: #E04428;">
  <div class="content">
    <div class="buttons-action">
      <ion-button fill="clear" color="dark" size="small">
        <p class="signup-text">Sign Up</p>
      </ion-button>
    </div>
    <div class="ion-padding">
      <ion-input ios="ios-contact" md="md-contact" placeholder="Your name" class="name">
        <ion-icon name="person" style="width: 20px; height: 20px;"></ion-icon>
      </ion-input>
      <br>
      <ion-input placeholder="E-mail" class="email">
        <ion-icon name="mail" style="width: 20px; height: 20px;" type="password"></ion-icon>
      </ion-input>
      <br>
      <ion-input placeholder="Password" class="password">
        <ion-icon name="key" style="width: 20px; height: 20px;"></ion-icon>
      </ion-input>
 
    

    
    <!--ion-item>
      <ion-label position="floating">Your name</ion-label>
      <ion-input> 
        <ion-icon name="person" style="width: 20px; height: 20px;"></ion-icon>
      </ion-input>
    </ion-item-->
    


    </div>
    <ion-button class="actionbutton" fill="clear" expand="full" style="text-transform: none; background-color: #FFCCC3;"><b style="color:#E04428">Sign Up</b></ion-button>
    <ion-button fill="clear" classe="have-account"><b style="font-size: 9px; color: black">Already Have an account ?</b></ion-button>
    <ion-button fill="clear" color="dark" size="small" routerLink="/home" routerDirection="root">
      <p class="signin-text">Sign In</p>
    </ion-button>
  </div>  
  
</ion-content>