/*
ioni-content.background{
    --background: url(../../assets/icon/favicon.png) 0 0/100% 100% no-repeat;
}

*/

ioni-content.background{
    background-color: #E04428;
}

.content{
    position:fixed;
    margin-top : 350px;
    margin-left: 40px;
}

.buttons-action{
    margin-left: 5px;
}

.signup-text{
    font-size: x-small;
    text-align: center;
    font-family: 'Nunito',sans-serif;
    text-transform :none;
}

.signin-text{
    font-size: small;
    color: #E04428;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
    font-weight: bold;
}
/*
ion-input{
    background-color: #ededed;
    border-radius: 5px;
    font-size:small;
    width: 301.5px;
}
*/


ion-checkbox{
    background: #a04eff;
    border-radius: 5px;
    --height: 10px;
    --width: 10px;
    --checkmark-color: white;
    --background-checked: #a04eff;
    --border-color: #a04eff;
}

.line{
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
}

.fbbutton{
    background-color: #3b5998;
    border-radius: 6px;
    color:cornsilk;
    margin-bottom: 12px;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
}

.googlebutton{
    background-color: #ea4335;
    border-radius: 6px;
    color:cornsilk;
    margin-bottom: 12px;
    font-family: 'Nunito', sans-serif;
    text-transform: none; 
}

.email, .password, .name{
    padding-left:10px !important; 
    font-family:'Nunito', sans-serif;
}


.have-account{
    font-size: 8px; 
    padding-bottom:20px;
    color:#a8a8a8; 
    margin-right:10 px;
    text-transform: none ; 
    font-family: 'Nunito, san-serif ';
}

.fbbutton,.googlebutton{
    width : 80% !important;
    margin-left: 10% !important;
}

.content{
    //  position:fixed;
      margin : 50% 10% 20% 10%;
     // padding: 10%;
     // background-color: #E04428; 
      width: 80%;
      border-radius: 20px; 
      height: 50%;
  }